[submodule "vendors/log.c"]
	path = vendors/log.c
	url = https://github.com/danigosa/log.c.git
[submodule "vendors/http-parser"]
	path = vendors/http-parser
	url = https://github.com/nodejs/http-parser.git
